@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    .no-scrollbar::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, Edge, Opera */
    }
    .no-scrollbar {
      -ms-overflow-style: none; /* For IE and Edge */
      scrollbar-width: none; /* For Firefox */
    }
  }
  .pause {
    animation-play-state: paused;
  }
}
:root {
  --header-nav-h: 4rem;
  --left-menu-w: 16rem;
  --right-menu-w: 20rem;
}
/* global default styles */
html {
  color: #171717;
}

/* react simple editor styles */
.rsw-editor {
  width: 100%;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}
/*---------------------------*/

/* custom container classes */
@layer components {
  /* Mobile */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .left-menu-container {
    display: none;
  }
  .subgrid-container {
    display: flex;
    flex-direction: column;
    max-width: 100dvw;
    min-height: calc(100vh - var(--header-nav-h));
  }
  .right-menu-container {
    display: none;
  }
  .main-container {
    width: 100%;
    gap: 1.5rem;
  }
  .post-container {
    padding: 0.5rem;
  }

  /* Desktop */
  @media (min-width: 48rem) {
    .grid-container {
      display: grid;
      grid-template-columns: var(--left-menu-w) 1fr;
    }
    .left-menu-container {
      grid-column-start: 1;
      contain: layout;
      position: fixed;
      width: var(--left-menu-w);
      min-height: calc(100vh - var(--header-nav-h));
      border-right: 1px #e5e7eb solid;
    }
    .subgrid-container {
      grid-column-start: 2;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      justify-content: stretch;
      max-width: calc(100vw - var(--left-menu-w));
      min-height: calc(100vh - var(--header-nav-h));
    }
    .main-container {
      width: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
      display: grid;
      grid-template-columns: minmax(0, 760px) minmax(0, var(--right-menu-w));
      align-content: space-between;
      justify-content: space-between;
      gap: 1.5rem;
    }
    .right-menu-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      position: sticky;
      top: var(--header-nav-h);
      overflow-x: hidden;
      overflow-y: auto;
      max-width: var(--right-menu-w);
      min-height: calc(100vh - var(--header-nav-h));
      max-height: calc(100vh - var(--header-nav-h));
    }
    /* PostCard 컴포넌트를 wrapping하고 있는 article */
    .post-container {
      padding: 0;
    }

    /* 커뮤니티 생성할때 미리보기 컴포넌트 */
    .community-info-preview {
      display: none;
    }
  }
}

/*---------------------------*/
