@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    .no-scrollbar::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, Edge, Opera */
    }
    .no-scrollbar {
      -ms-overflow-style: none; /* For IE and Edge */
      scrollbar-width: none; /* For Firefox */
    }
  }
  .pause {
    animation-play-state: paused;
  }
}

/* global default styles */
html {
  color: #171717;
}

/* react simple editor styles */
.rsw-editor {
  width: 100%;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}
/*---------------------------*/

/* custom container classes */
.grid-container {
  display: grid;
  grid-template-columns: 270px 1fr;
}

.left-menu-container {
  grid-column-start: 1;
  contain: layout;
  position: fixed;
  width: 270px;
  min-height: calc(100vh - 64px);
  border-right: 1px #e5e7eb solid;
}

.subgrid-container {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: stretch;
  max-width: calc(100vw - 270px);
  min-height: calc(100vh - 64px);
}

.main-container {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  display: grid;
  grid-template-columns: minmax(0, 760px) minmax(0, 320px);
  align-content: space-between;
  justify-content: space-between;
  gap: 1.5rem;
}

.right-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: sticky;
  top: 64px;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 320px;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}

/*---------------------------*/
