@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    .no-scrollbar::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, Edge, Opera */
    }
    .no-scrollbar {
      -ms-overflow-style: none; /* For IE and Edge */
      scrollbar-width: none; /* For Firefox */
    }
  }
  .pause {
    animation-play-state: paused;
  }
}

/* react simple editor styles */
.rsw-editor {
  width: 100%;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}
/*---------------------------*/
